
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* ********End Of Meyers Reset********* */

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

h4 {
  font-size: 1.25rem;
  font-weight: 500;
}


.App-header {
  background-color: #222;
  height: 5vh;
  padding: 1rem;
  color: white;
}

.location-list-title {
  padding: 1rem;
  color: white;
}


.locations-list {
  /* padding-top: 50vh; */
  background-color: #222;
  border-radius: 8px 8px 8px 8px;
  padding-bottom: 1rem;
}

.location-card {
  border: solid 2px;
  border-color: #222;
  padding: 0.5rem;
  margin: 1.5rem;
  border-radius: 8px 8px 8px 8px;
  background-color: white;
}

.location-card:hover {
  border: solid 2px;
  border-color: white;
  /* border-color: rgb(134, 134, 134); */
}

.location-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.location-form-container {
  padding: 1rem;
  border: solid 1px lightgray;
  margin: 0.5rem;
  width: 25rem;
}

.location-form-container h3 {
  text-align: center;
}

.location-form {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-form input {
  width: 20rem;
  margin-bottom: 0.75rem;
}

.location-form button {
  width: 5rem;
}

.message {
  padding: 0.5rem;
  border: solid 1px lightgray;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: rgb(238, 237, 237);
}

.message p {
  padding-bottom: 0.25rem;
}

.note-forms-container {
  display: flex;
  flex-direction: row;
}

.location-forms-container {
  display: flex;
  flex-direction: row;
}

.location-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1px lightgray;
  margin-top: 0.5rem;
}

.selected-place-title {
  padding: 1rem;
  color: white;
  
}

.selection-detail-container {
  background-color: white;
  padding: 1rem;
  padding-right: 5rem;
  padding-left: 5rem;
  padding-top: 50vh;
  
}

.selection-detail {
  background-color: #222;
  border-radius: 8px 8px 8px 8px;
  padding-bottom: 1rem;
  margin-top: 1rem;
  
}